In [11]:
freq = 32

In [1]:
convertacc = function(data){
    # From codebook
    -14.709 + (data/63)*(2*14.709)
}

In [2]:
filepaths <-list.files(path = "C:/Users/Sandeep/Notebooks/NanoLocalProject", recursive = TRUE,pattern="*.txt")

In [3]:
length(filepaths)

[1] 979

In [4]:
data <- data.frame(
id=character(),
x=numeric(),
y=numeric(),
z=numeric(),
activity= character(),
date=character(),
time=character()
)

In [5]:
for(file in filepaths) {
    new <- read.table(file,sep=" ", header=FALSE)
    string <- unlist(strsplit(file, "-"))
    new$id <- unlist(strsplit(string[9], "[.]"))[1]
    new$activity <- string[8]
    new$date <- paste(string[2],string[3],string[4],sep="-")
    new$time <- paste(string[5],string[6],string[7],sep=":")
    data <- rbind(data, new)    
}

In [6]:
dim(data)

[1] 479289      7

In [7]:
head(data)

  V1 V2 V3 id    activity       date     time
1 22 49 35 f1 brush_teeth 2011-04-11 13:28:18
2 22 49 35 f1 brush_teeth 2011-04-11 13:28:18
3 22 52 35 f1 brush_teeth 2011-04-11 13:28:18
4 22 52 35 f1 brush_teeth 2011-04-11 13:28:18
5 21 52 34 f1 brush_teeth 2011-04-11 13:28:18
6 22 51 34 f1 brush_teeth 2011-04-11 13:28:18

In [8]:
data[1:3] <- lapply(data[1:3], convertacc)

In [9]:
head(data)

         V1       V2       V3 id    activity       date     time
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18

In [21]:
names(data) <- c("ax","ay","az","id","activity","date","time")

In [10]:
head(data)
library(dplyr)

         V1       V2       V3 id    activity       date     time
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [11]:
head(data)

         V1       V2       V3 id    activity       date     time
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18

In [13]:
data$sex <- grepl("m", data$id)
head(data)

         V1       V2       V3 id    activity       date     time   sex
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18 FALSE
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18 FALSE
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18 FALSE
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18 FALSE
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18 FALSE
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18 FALSE

In [17]:
data$sex<- (data$sex)*1

In [18]:
head(data)

         V1       V2       V3 id    activity       date     time sex
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18   0
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18   0

In [20]:
write.table(data,"data_combined.csv", sep=" ")