In [1]:
readLines("data_combined.csv",n=10)

 [1] "\"V1\" \"V2\" \"V3\" \"id\" \"activity\" \"date\" \"time\" \"sex\""
 [2] "\"1\" -4.43604761904762 8.17166666666667 1.63433333333333 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [3] "\"2\" -4.43604761904762 8.17166666666667 1.63433333333333 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [4] "\"3\" -4.43604761904762 9.57252380952381 1.63433333333333 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [5] "\"4\" -4.43604761904762 9.57252380952381 1.63433333333333 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [6] "\"5\" -4.903 9.57252380952381 1.16738095238095 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [7] "\"6\" -4.43604761904762 9.10557142857143 1.16738095238095 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [8] "\"7\" -5.36995238095238 8.63861904761904 1.63433333333333 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
 [9] "\"8\" -4.43604761904762 9.57252380952381 1.16738095238095 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"
[10] "\"9\" -4.43604761904762 8.63861904761904 1.16738095238095 \"f1\" \"brush_teeth\" \"2011-04-11\" \"13:28:18\" 0"

In [22]:
df <- read.table("data_combined.csv",sep=" ",header=TRUE, stringsAsFactors = TRUE)

In [23]:
str(df)

'data.frame':	479289 obs. of  8 variables:
 $ V1      : num  -4.44 -4.44 -4.44 -4.44 -4.9 ...
 $ V2      : num  8.17 8.17 9.57 9.57 9.57 ...
 $ V3      : num  1.63 1.63 1.63 1.63 1.17 ...
 $ id      : Factor w/ 27 levels "f1","f1_1","f1_2",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ activity: Factor w/ 14 levels "brush_teeth",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ date    : Factor w/ 26 levels "2011-03-23","2011-03-24",..: 6 6 6 6 6 6 6 6 6 6 ...
 $ time    : Factor w/ 836 levels "03:44:39","03:45:26",..: 308 308 308 308 308 308 308 308 308 308 ...
 $ sex     : int  0 0 0 0 0 0 0 0 0 0 ...

In [24]:
head(df)

         V1       V2       V3 id    activity       date     time sex
1 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
2 -4.436048 8.171667 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
3 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
4 -4.436048 9.572524 1.634333 f1 brush_teeth 2011-04-11 13:28:18   0
5 -4.903000 9.572524 1.167381 f1 brush_teeth 2011-04-11 13:28:18   0
6 -4.436048 9.105571 1.167381 f1 brush_teeth 2011-04-11 13:28:18   0

In [25]:
library(dplyr)
#install.packages("moments", repos='http://cran.us.r-project.org')

In [27]:
require(moments)

In [32]:
tidydata <- df %>%                
            group_by(time, activity, sex) %>%
                select(V1,V2,V3) %>%
                summarize(
                    meanx= mean(V1),
                    meany= mean(V2),
                    meanz= mean(V3),
                    skewx=skewness(V1),
                    skewy=skewness(V2),
                    skewz=skewness(V3),
                    kurtx=kurtosis(V1),
                    kurty=kurtosis(V2),
                    kurtz=kurtosis(V3),
                    corxy=cor(V1,V2),
                    coryz=cor(V2,V3),
                    corxz=cor(V1,V3)
                    
                )

In [40]:
dim(tidydata)

[1] 839  14

In [34]:
head(tidydata)

Source: local data frame [6 x 15]
Groups: time, activity [6]

      time      activity   sex      meanx     meany    meanz       skewx
    (fctr)        (fctr) (int)      (dbl)     (dbl)    (dbl)       (dbl)
1 03:44:39 standup_chair     1 -3.5779407 3.1970798 7.293908 -0.02743029
2 03:45:26 sitdown_chair     1 -3.1642168 4.2588924 6.826107 -0.11947115
3 03:46:21    pour_water     1  0.7739084 0.8936094 8.676544  0.48349893
4 03:47:02   drink_glass     1  2.3009590 3.3119030 8.927909  0.45393983
5 03:47:36   drink_glass     1  2.5419309 3.6639320 8.580743  0.22790451
6 03:48:20 standup_chair     1 -5.1704888 5.1082285 5.112840  0.90507609
Variables not shown: skewy (dbl), skewz (dbl), kurtx (dbl), kurty (dbl), kurtz
  (dbl), corxy (dbl), coryz (dbl), corxz (dbl)

In [35]:
str(tidydata)

Classes 'grouped_df', 'tbl_df', 'tbl' and 'data.frame':	839 obs. of  15 variables:
 $ time    : Factor w/ 836 levels "03:44:39","03:45:26",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ activity: Factor w/ 14 levels "brush_teeth",..: 12 11 10 5 5 12 11 10 5 10 ...
 $ sex     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ meanx   : num  -3.578 -3.164 0.774 2.301 2.542 ...
 $ meany   : num  3.197 4.259 0.894 3.312 3.664 ...
 $ meanz   : num  7.29 6.83 8.68 8.93 8.58 ...
 $ skewx   : num  -0.0274 -0.1195 0.4835 0.4539 0.2279 ...
 $ skewy   : num  0.126 0.579 -0.247 -0.86 -0.738 ...
 $ skewz   : num  -0.133 -0.11 0.505 0.222 -1.343 ...
 $ kurtx   : num  1.12 1.11 2.34 1.79 3.25 ...
 $ kurty   : num  1.51 3.38 1.28 2.14 2.04 ...
 $ kurtz   : num  1.18 1.25 3.49 3.77 14.14 ...
 $ corxy   : num  -0.922 0.668 0.746 -0.875 -0.863 ...
 $ coryz   : num  -0.9025 0.64259 0.18288 0.00785 -0.24656 ...
 $ corxz   : num  0.9702 0.9602 0.1979 -0.0617 0.2793 ...
 - attr(*, "vars")=List of 2
  ..$ : symbol time
  ..$ : symbol activity
 - attr(*, "drop")= logi TRUE

In [36]:
tail(tidydata)

Source: local data frame [6 x 15]
Groups: time, activity [6]

      time   activity   sex     meanx    meany    meanz     skewx      skewy
    (fctr)     (fctr) (int)     (dbl)    (dbl)    (dbl)     (dbl)      (dbl)
1 22:55:42 pour_water     1 0.9093283 4.757180 8.510822 0.7094381  0.3828775
2 22:56:17 pour_water     1 0.9349958 3.617790 9.091388 0.6842496 -0.8364528
3 22:56:53 pour_water     1 0.8927775 3.848877 9.058750 0.6777009 -1.1102049
4 22:57:12 pour_water     1 0.6704957 4.172639 8.880476 0.8138613 -1.2920201
5 22:58:08 pour_water     1 1.3852921 4.204966 8.778705 0.6131496 -1.2761376
6 22:58:28 pour_water     1 1.0336308 3.997253 8.901426 0.7856782 -1.0872698
Variables not shown: skewz (dbl), kurtx (dbl), kurty (dbl), kurtz (dbl), corxy
  (dbl), coryz (dbl), corxz (dbl)

In [37]:
tidydata$time <- NULL

In [38]:
head(tidydata)

Source: local data frame [6 x 14]

       activity   sex      meanx     meany    meanz       skewx      skewy
         (fctr) (int)      (dbl)     (dbl)    (dbl)       (dbl)      (dbl)
1 standup_chair     1 -3.5779407 3.1970798 7.293908 -0.02743029  0.1256692
2 sitdown_chair     1 -3.1642168 4.2588924 6.826107 -0.11947115  0.5794308
3    pour_water     1  0.7739084 0.8936094 8.676544  0.48349893 -0.2466208
4   drink_glass     1  2.3009590 3.3119030 8.927909  0.45393983 -0.8603673
5   drink_glass     1  2.5419309 3.6639320 8.580743  0.22790451 -0.7378359
6 standup_chair     1 -5.1704888 5.1082285 5.112840  0.90507609  0.9603296
Variables not shown: skewz (dbl), kurtx (dbl), kurty (dbl), kurtz (dbl), corxy
  (dbl), coryz (dbl), corxz (dbl)

In [39]:
write.table(tidydata, "tidy.csv",sep=" ")